<header>
    <h1><a href="/crashreports">Civilian Crash Reporter</a></h1>
    <p>Note: This app was built for a school project and is not associated with the City of Philadelphia, Philadelphia Police, or any legal firm. This is not an official place to report a crash. If you have been involved in a crash, please find medical help and seek legal counsel. Any report made to this app is used for demonstration purposes and may be destroyed in the process of development.</p>
</header>