<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link active" href="/crashreports">List of reports</a></li>
        <li class="nav-item"><a  class="nav-link active" href="/crashreports/new">Make a crash report</a></li>
        <li class="nav-item"><a  class="nav-link active" href="#">Resources</a></li>
    </ul>
</nav>