<nav>
    <ul>
        <li><a href="/crashreports">List of reports</a></li>
        <li><a  href="/crashreports/new">Make a crash report</a></li>
        <li><a  href="/resources">Resources</a></li>
        <li><a href="https://github.com/travissouthard/project2" target="new">Help this site!</a></li>
    </ul>
</nav>