    <%- include("./partials/head.ejs") %>
    <body class="container">
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
        <main>
            <form action="/crashreports/" method="POST">
                <fieldset>
                    <legend>Basics</legend>
                    <label for="date">Date of Crash</label>
                    <input type="date" name="date" id="date" required="true">
                    <label for="location">Location of Crash</label>
                    <input type="text" name="location" id="location" placeholder="Address or intersection" required="true">
                    <div class="form-label">
                        <input type="checkbox" name="hitAndRun" id="hitAndRun">
                        <label for="hitAndRun">Was this a hit & run?</label>
                    </div>
                    <label for="description">Can you give a brief description of the crash?</label><textarea name="description" id="description" cols="30" rows="10" placeholder="Please consider the following: Who was involved? Did anyone help?"></textarea>
                </fieldset>
                <!-- Radio Buttons for Location Type -->
                <fieldset>
                    <legend>Where did the crash happen?</legend>
                    <div class="form-label">
                        <input type="radio" name="loctype" id="intersection" value="intersection" required="true"><label for="intersection">Intersection</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="loctype" id="midblock" value="midblock" required="true"><label for="midblock">Midblock</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="loctype" id="sidewalk" value="sidewalk" required="true"><label for="sidewalk">Sidewalk</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="loctype" id="parkinglot" value="parkinglot" required="true"><label for="parkinglot">Parking Lot</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="loctype" id="other" value="other" required="true"><label for="other">Other</label>
                    </div>
                </fieldset>
                <!-- Checkboxes for vehicle types -->
                <fieldset>
                    <legend>What travel modes were involved?</legend>
                    <div class="form-label">
                        <input type="checkbox" name="car" id="car"><label for="car">Car (includes motorcycles, trucks)</label>
                    </div>
                    <div class="form-label">
                        <input type="checkbox" name="bike" id="bike"><label for="bike">Bicycle</label>
                    </div>
                    <div class="form-label">
                        <input type="checkbox" name="ped" id="ped"><label for="ped">Pedestrian</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Was anyone injured?</legend>
                    <div class="form-label">
                        <input type="radio" name="injury" id="none" value="none" required="true"><label for="none">None</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="injury" id="minor" value="minor" required="true"><label for="minor">Minor</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="injury" id="major" value="major" required="true"><label for="major">Major</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="injury" id="death" value="death" required="true"><label for="death">Death</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>911/Police Response</legend>
                    <div class="form-label">
                        <input type="checkbox" name="called911" id="called911"><label for="called911">Did anyone call 911?</label>
                    </div>
                    <!-- Radio buttons for police response -->
                    <fieldset>
                        <legend>What was the police response?</legend>
                        <div class="form-label">
                            <input type="radio" name="policeResponse" id="dismissed" value="none"><label for="dismissed">None/Dismissed</label>
                        </div>
                        <div class="form-label">
                            <input type="radio" name="policeResponse" id="stationreport" value="stationreport"><label for="stationreport">Report at Station</label>
                        </div>
                        <div class="form-label">
                            <input type="radio" name="policeResponse" id="sitereport" value="sitereport"><label for="sitereport">Report at Crash Site</label>
                        </div>
                        <div class="form-label">
                            <input type="radio" name="policeResponse" id="arrest" value="arrest"><label for="arrest">Arrest was made</label>
                        </div>
                    </fieldset>
                    <div class="form-label">
                        <input type="checkbox" name="madeReport" id="madeReport"><label for="madeReport">Was a report made?</label>
                    </div>
                    <label for="reportNumber">If yes, what is the report number?</label><input type="text" name="reportNumber" id="reportNumber" placeholder="Police report number">
                </fieldset>
                <fieldset>
                    <legend>Lawsuit Info</legend>
                    <div class="form-label">
                        <input type="checkbox" name="haveLawyer" id="haveLawyer"><label for="haveLawyer">Have you retained a lawyer?</label>
                    </div>
                    <label for="lawyerName">If yes, which lawyer?</label>
                    <input type="text" name="lawyerName" id="lawyerName" placeholder="Lawyer, Lawyer, & Lawyer">
                    <div class="form-label">
                        <input type="checkbox" name="madeSuit" id="madeSuit"><label for="madeSuit">Have you made a lawsuit?</label>
                    </div>
                </fieldset>
                <div class="buttons">
                    <input type="submit" value="Submit Report">
                    <a href="/crashreports/"><button>Cancel</button></a>
                </div>
            </form>
        </main>
    </body>
</html>