<%- include("./partials/head.ejs") %>
<body class="container">
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <main>
        <h3>Resources and Next Steps</h3>
        <ul class="resources">
            <li class="block">Advocacy Orgs
                <ul> 
                    <li>
                        <a href="http://bicyclecoalition.org">Bicycle Coalition of Greater Philadelphia</a>
                    </li>
                    <li>
                        <a href="https://feetfirstphilly.org/">Feet First Philly</a>
                    </li>
                </ul>
            </li>
            <li class="block">Philadelphia City Resources
                <ul> 
                    <li>
                        <a href="https://www.phila.gov/311/form/Pages/default.aspx">Philly 311</a>
                    </li>
                    <li>
                        <a href="http://phlcouncil.com/council-members/">Philadelphia City Council Members</a>
                    </li>
                </ul>
            </li>
            <li class="block">Bicycle Lawyers
                <ul>
                    <li>
                        <a href="https://stuartleon.com/">Stuart Leon Bicycle Crash Law</a>
                    </li>
                    <li>
                        <a href="https://www.piscitellolaw.com/">Piscitello Law: Bike Law</a>
                    </li>
                </ul>
            </li>
            <li class="block">Emergency Crash Resources
                <ul>
                    <li>
                        <a href="https://www.pfracp.org/">Pennsylvania Financial Responsibility Assigned Claims Plan</a>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
</body>
</html>