:root {
    --light-blue: hsl(188, 100%, 53%);
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: var(--light-blue);
    margin: 1px;
    padding: 2px;
    border-radius: 3px;
}

a:hover {
    margin: 0;
    color: white;
    border: 1px solid white;
}

p {
    text-align: justify;
}

header h1 {
    text-align: center;
}

header p {
    text-align: justify;
    border: 1px solid gray;
    background-color: var(--light-blue);
    color: black;
    padding: 3%;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin: 10px;
}

nav a {
    border: 1px solid var(--light-blue);
    margin: 0;
    padding: 2px 10px;
}

h3 {
    text-align: center;
    margin: 0 0 50px 0;
}

main ul {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

main li {
    margin: 10px 0;
}

form {
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

fieldset {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--light-blue);
}

legend {
    color: var(--light-blue);
}

textarea {
    width: 97%;
    margin: 3px 0;
    resize: none;
}

input, label {
    margin: 3px 1px;
    width: 97%;
}

button, input[type="submit"] {
    width: auto;
    font-size: 1em;
    border: 2px solid grey;
    padding: 3px 5px;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: grey;
    color: white;
}

button:hover, input[type="submit"]:hover {
    border: 2px solid white;
    color: white;
    background-color: var(--light-blue);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons form {
    margin: 0;
    padding: 0;
    border: 0;
}

.buttons a {
    margin: 0;
    padding: 0;
}

.buttons a:hover {
    border: 0;
}

.description {
    border: 1px solid var(--light-blue);
    padding: 10px;
    width: 95.5%;
}

.form-label {
    display: block;
}

.form-label input, label {
    width: auto;
}

.hidden {
    display: none;
}

.report {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid var(--light-blue);
}

#policeResponse {
    width: 90%;
}

@media (min-width: 450px) {
    body {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (min-width: 579px) {
    nav li {
        display: inline;
    }
}

@media (min-width: 1000px) {
    body {
        max-width: 1000px;
    }

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    fieldset {
        width: 40%;
        margin: 2%;
    }
}