body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: lightgrey;
    margin: 1px;
    padding: 2px;
    border-radius: 3px;
}

a:hover {
    margin: 0;
    color: white;
    border: 1px solid white;
}

header h1 {
    text-align: center;
}

header p {
    text-align: justify;
    border: 1px solid gray;
    background-color: lightgrey;
    color: black;
    padding: 3%;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin: 10px;
    
}

nav a {
    border: 1px solid lightgrey;
    margin: 0;
    padding: 2px 10px;
}

h3 {
    text-align: center;
}

form {
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

fieldset {
    margin-top: 10px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    margin: 3px 0;
    resize: none;
}

input, label {
    margin: 3px 1px;
    width: 100%;
}

button, input[type="submit"] {
    display: inline;
    font-size: 1em;
    border: 2px solid grey;
    padding: 3px 5px;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: grey;
    color: white;
}

button:hover, input[type="submit"]:hover {
    color: gray;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons form {
    margin: 0;
    padding: 0;
    border: 0;
}

.buttons a {
    margin: 0;
    padding: 0;
}

.buttons a:hover {
    border: 0;
}

.report {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightgrey;
}

.form-label {
    display: block;
}

.form-label input, label {
    width: auto;
}

.hidden {
    display: none;
}